<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django</title>
</head>
<body>

<h3 align="center">Django with Form Handling, MVT, Template Inheritance, Session, Cookies, Email, ModelForms</h3>
<hr><hr>

<a href="{% url 'index' %}">Home</a>&nbsp;&nbsp;
<a href="{% url 'formdemo' %}">Form Handling</a>&nbsp;&nbsp;
<a href="{% url 'logindemo' %}">Login Demo</a>&nbsp;&nbsp;
<a href="{% url 'addemployee' %}">Add Employee</a>&nbsp;&nbsp;

<a href="{% url 'registration' %}">Registration</a>&nbsp;&nbsp;
<a href="{% url 'userlogin' %}">Login</a>&nbsp;&nbsp;
<a href="{% url 'viewusers' %}">View Users</a>&nbsp;&nbsp;


<form method="post">
{% csrf_token %}

    {{form.as_p}}

    <input type="submit" value="Register">

</form>
</center>

</body>
</html>